.header {
    display: flex;
    margin-top: 26px;
    align-items: center;
    justify-content: space-between;
}

.header-input {
    border: none;
    width: 216px;
    height: 40px;
    background: #F4F4F4;
    border-radius: 3px;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    width: 451px;
    margin: 15px;
    list-style-type: none;
}

.header-links {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    color: #9A9A9A;
}

.header-search {
    width: 40px;
    height: 40px;
    border: none;
    background: #FFBA9D;
    border-radius: 3px;
    z-index: 10;
}


/*  */