.header {
    display: flex;
    margin-top: 26px;
    align-items: center;
    justify-content: space-between;
}

.header-input {
    border: none;
    width: 216px;
    height: 40px;
    background: #F4F4F4;
    border-radius: 3px;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    width: 451px;
    margin: 15px;
    list-style-type: none;
}

.header-links {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    color: #9A9A9A;
}

.header-search {
    width: 40px;
    height: 40px;
    border: none;
    background: #FFBA9D;
    border-radius: 3px;
    z-index: 10;
}


/*  */

.menu {
    display: none;
    border: none;
    background-color: transparent;
    width: 24px;
    height: 14px;
    padding: 0;
}

.show-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 193px;
    background-color: #eee;
    height: 100%;
    width: 100%;
}

.menu-text {
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    text-transform: uppercase;
    color: #9A9A9A;
    margin-bottom: 50px;
}

.menu-text:active {
    color: #9A9A9A;
    text-decoration: underline;
}

.menu-text-wrap {
    margin-top: 130px;
}

.menu-head {
    display: flex;
    justify-content: space-between;
    max-width: 90%;
}

.btn-menu {
    background-color: transparent;
    border: none;
    width: 15px;
    height: 14px;
    position: relative;
    right: 0;
}