body {
    overflow-y: scroll;
}

.left-heading {
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 36px;
}

.left-text {
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #474747;
    width: 328px;
    margin-bottom: 28px;
    width: 268px;
}

.left {
    margin-right: 109px;
    max-width: 258px;
}

.arrow-btn {
    border: none;
    width: 20px;
    height: 20px;
    background: #F4F4F4;
    border-radius: 3px;
}

.explore-link {
    text-decoration: none;
    align-content: center;
}

.arrow {
    padding-bottom: 6px;
}

.left-explore {
    margin-top: 2px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #474747;
    margin-right: 16px;
}

.s-links {
    margin-top: 51px;
    width: 144px;
    justify-content: space-between;
}

.big {
    display: flex;
    margin-top: 80px;
}

@media only screen and (max-width:1440px) {
    section {
        max-width: fit-content;
    }
}

@media only screen and (max-width: 768px) {
    .header-nav {
        display: none;
    }
    .footer-container {
        display: block;
    }
    .footer-logos {
        text-align: center;
        margin-bottom: 15px;
    }
}


/* dd */

@media only screen and (max-width: 426px) {
    .footer {
        min-width: 425px;
    }
    .footer-wrapper {
        display: block;
    }
    .header-input {
        width: 285px;
        height: 44px;
    }
    .header {
        display: block;
    }
    .big {
        display: flex;
        flex-direction: column;
    }
    .main {
        order: -1;
    }
    .left {
        margin-bottom: 80px;
    }
    .main-btn-wrapper {
        margin-right: 20px;
    }
    .main {
        max-width: 360px;
        overflow: hidden;
    }
    .error-img {
        max-width: 320px;
    }
    .error-cont {
        max-width: 320px;
    }
}

@media only screen and (max-width: 361px) {
    .container {
        max-width: 360px;
        overflow-x: hidden;
    }
    section {
        max-width: fit-content;
        overflow-x: hidden;
    }
    .header-search {
        width: 45px;
        height: 44px;
    }
    .single-wrap-t {
        margin: 0;
        transform: translateY(-10%);
        margin-bottom: 40px;
    }
    .single-wrap {
        margin-top: 50px;
        margin-bottom: 220px;
    }
    .single-line {
        height: 352px;
    }
    .wrap2 {
        max-width: 238px;
        margin-right: 40px;
    }
    .menu {
        display: block;
    }
    .login-logo {
        width: 33px;
        height: 33px;
    }
    .cursor {
        font-size: 14px;
        line-height: 19px;
    }
}

@media only screen and (max-width:360px) {
    .header-input {
        width: 200px;
        margin-top: 15px;
    }
    .footer-b {
        display: none;
    }
    section {
        max-width: 360px;
        overflow-x: hidden;
    }
}